.node rect {
    stroke-linejoin: round;
}

// .node text {
// font: 12px sans-serif;
// fill: #fff;
// }
svg:not(:root) {
    width: 100%;
    height: auto;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.node-text {
    font: 12px sans-serif;
}

.node_unselect_highlight {
    stroke-width: 1px;
}

.node_onselect_highlight {
    stroke-width: 2px;
}

.node-icon {
    cursor: pointer;
    font-size: small;
}
//Empty for toggle icon
//used for referencing, don't eremove
.toggle-icon {
}

.relative {
    position: relative;
}
.topright {
    position: absolute;
    top: 0 px;
    right: 0 px;
}

.hide-icon {
    font-size: 0 !important;
}

.not-clickable {
    pointer-events: none;
}
.underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.type-icon {
    font-size: medium;
}
