.node rect {
    stroke-width: 3px;
}

// .node text {
// font: 12px sans-serif;
// fill: #fff;
// }
svg:not(:root) {
    width: 100%;
    height: auto;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.node-text {
    font: 12px sans-serif;
    fill: #fff;
}

.node_onselect_highlight {
    // stroke: rgb(26, 179, 148);
    stroke: lawngreen;
    stroke-width: 2px;
    stroke-linejoin: round;
}

.icon-edit {
    fill: white;
    cursor: pointer;
}

.relative {
    position: relative;
}
.topright {
    position: absolute;
    top: 0 px;
    right: 0 px;
}

.hide-icon {
    font-size: 0 !important;
}
